:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0px;
}
.wrapper {
  padding: 2em;
  background: var(--red);
  background-image: url('../images/bg-intro-mobile.png');
}
.message {
  text-align: center;
  color: whitesmoke;
  padding: 2.2em 0em;
}
.message__content {
  font-size: 0.9em;
}
.subscription {
}
.subscription__try {
  padding: 1.2em 3em;
  text-align: center;
  font-size: 0.9em;
  background: var(--blue);
  color: whitesmoke;
  border-radius: 12px;
  box-shadow: 0px 8px rgba(0, 0, 0, 0.17);
  margin: 0.5em 0em;
}
.subscription__form {
  background: whitesmoke;
  border-radius: 12px;
  margin: 1.5em 0em;
  padding: 1em;
  box-shadow: 0px 8px rgba(0, 0, 0, 0.17);
}
.subscription__form input {
  border: solid 1px var(--grayish-blue);
  box-sizing: border-box;

  width: 100%;
  border-radius: 5px;
  padding: 1.2em;
  margin-bottom: 1em;
}
.subscription__form input::placeholder {
  font-weight: 700;
}
.subscription__form button {
  padding: 1.2em;
  width: 100%;
  box-sizing: border-box;
  background: var(--green);
  color: whitesmoke;
  border-radius: 5px;
  border: none;
  font-weight: 700;

  text-transform: uppercase;
  box-shadow: inset 0px -4px rgba(0, 0, 0, 0.17);
}
.terms {
  text-align: center;
  font-size: 0.6em;
  padding: 0em 1.8em;
  color: var(--grayish-blue);
  font-weight: 500;
}
.terms__link {
  color: var(--red);
  font-weight: 700;
  text-decoration: none;
}
